/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

body {
	background-color: #ffcfe0;
	color: var(--bs-light);
	font-family: 'Bubblegum Sans', sans-serif;
    height: 100%;
}
