<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
</head>

<body>
    <div class="px-4 py-5 my-5 text-center">
        <img src="../assets/android-chrome-192x192.png" alt="">
        <h1 class="display-5 fw-bold text-body-emphasis">Kirby's Journal</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Discover the transformative power of self-reflection with our innovative journaling app. Seamlessly blending intuitive design with powerful features, our app provides a digital sanctuary for your thoughts, dreams, and daily reflections. Elevate your mental well-being, track personal growth, and unlock your creativity as you embark on a journey of self-discovery through the art of journaling with our user-friendly and inspiring application.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button id = "journalButton" type="button" routerLink="/journal" class="btn btn-primary btn-lg px-4 gap-3">Start Journaling!</button>
          </div>
        </div>
      </div>
</body>
